
{% extends "base.html" %}

{% block content %}
    

    
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">NHZ STORE</a>
                
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <!-- <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li> -->
                    

                    <li style="text-align: center" class="pull-right"><a href=""  data-close="true"><i class="material-icons">inbox</i><div >Products</div></a></li>
                    
                    <li style="text-align: center" class="dropdown pull-right" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-close="true" aria-haspopup="true" aria-expanded="false"><i class="material-icons">account_box</i> <span class="caret"></span><div >Emp_Accounts</div></a>
                            
                            <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">One more separated link</a></li>
                            </ul>
                    </li>
                     <li style="text-align: center" class="dropdown pull-right" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-close="true" aria-haspopup="true" aria-expanded="false"><i class="material-icons">work_outline</i> <span class="caret"></span><div >Stock</div></a>
                            
                            <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">One more separated link</a></li>
                            </ul>
                    </li>
                    <li style="text-align: center" class="dropdown pull-right" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-close="true" aria-haspopup="true" aria-expanded="false"><i class="material-icons">description</i> <span class="caret"></span><div >Purchase journals</div></a>
                            
                            <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">One more separated link</a></li>
                            </ul>
                    </li>
                    <li style="text-align: center" class="dropdown pull-right" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-close="true" aria-haspopup="true" aria-expanded="false"><i class="material-icons">donut_small</i> <span class="caret"></span><div >Sale journals</div></a>
                            
                            <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">One more separated link</a></li>
                            </ul>
                    </li>
                    <li style="text-align: center" class="dropdown pull-right" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-close="true" aria-haspopup="true" aria-expanded="false"><i class="material-icons">supervisor_account</i> <span class="caret"></span><div >Suppliers</div></a>
                            
                            <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">One more separated link</a></li>
                            </ul>
                    </li>
                    <li style="text-align: center" class="dropdown pull-right" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-close="true" aria-haspopup="true" aria-expanded="false"><i class="material-icons">people_outline</i> <span class="caret"></span><div >Customers</div></a>
                        
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li style="text-align: center" class="dropdown pull-right" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-close="true" aria-haspopup="true" aria-expanded="false"><i class="material-icons">insert_comment</i> <span class="caret"></span><div >Purchases</div></a>
                        
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li style="text-align: center" class="pull-right"><a href=""  data-close="true"><i class="material-icons">book</i><div >Daily books</div></a></li>

                    <li style="text-align: center" class="dropdown pull-right" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-close="true" aria-haspopup="true" aria-expanded="false"><i class="material-icons">assessment</i> <span class="caret"></span><div >Sales</div></a>
                        
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li style="text-align: center" class="dropdown pull-right" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-close="true" aria-haspopup="true" aria-expanded="false"><i class="material-icons">payment</i> <span class="caret"></span><div >Cash Payments</div></a>
                        
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                   
                    <li style="text-align: center" class="pull-right"><a href=""  data-close="true"><i class="material-icons">inbox</i><div >Products</div></a></li>


                  
                   

                 
                                            
                                        
                                         
                            
                    
                   
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
   {% include 'leftsidebar.html' %}

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>

            <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW TASKS</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW TICKETS</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW COMMENTS</div>
                            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW VISITORS</div>
                            <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>

                    
                   

              
            <!-- #END# Widgets -->
            <!-- CPU Usage -->
           

                <!-- #END# Browser Usage -->
            </div>
        </div>
    </section>
    {% endblock content %}